.custome_image {
  position: absolute;
    left: 60%;
    top: 20%;
}

.input input {
  border: none;
    border-bottom: 1px solid;
    width: 50%;
}

.spinnner{
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 45%;
  left: 48%;
}

.w_50 {
  width: 20%;
}